<a href="https://colab.research.google.com/github/chae-eun-22/pythonStudy25/blob/master/BaseSetType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 집합 자료형
# 집합 자료형은 set 키워드를 사용해 만들 수 있다.

s1 = set([1, 2, 3])
s1

{1, 2, 3}

In [2]:
# set()의 괄호 안에 리스트를 입력하여 만들거나 다음과 같이 문자열을 입력하여 만들 수도 있다.

s2 = set("Hello")
s2

# 비어 있는 집합 자료형은 s = set()로 만들 수 있다.

{'H', 'e', 'l', 'o'}

In [ ]:
# 집합 자료형의 특징

# set에는 2가지 특징이 있다.
# 중복을 허용하지 않는다.
# 순서가 없다(Unordered).
# set은 중복을 허용하지 않는 특징이 있기 때문에 데이터의 중복을 제거하기 위한 필터로 종종 사용된다.

# 리스트나 튜플은 순서가 있기(ordered) 때문에 인덱싱을 통해 요솟값을 얻을 수 있다.
# set 자료형은 순서가 없기(unordered) 때문에 인덱싱을 통해 요솟값을 얻을 수 없다.
# 딕셔너리 역시 순서가 없는 자료형이므로 인덱싱을 지원하지 않는다.

In [3]:
# set 자료형에 저장된 값을 인덱싱으로 접근하려면 리스트나 듀플로 변환한 후에 해야 한다.

s1 = set([1, 2, 3])
l1 = list(s1)
l1

[1, 2, 3]

In [5]:
l1[0]

1

In [6]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [7]:
t1[0]

1

In [8]:
# 교집합, 합집합, 차집합 구하기
# set 자료형을 정말 유용하게 사용하는 경우는 교집합, 합집합, 차집합을 구할 때

s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [9]:
# 교집합 구하기
# s1과 s2의 교집합은 '&'를 이용하면 간단하게 구할 수 있다.

s1 & s2

{4, 5, 6}

In [10]:
# intersection 함수를 사용해도 결과는 동일하다.

s1.intersection(s2)

# s2.intersection(s1)을 사용해도 결과는 동일하다.

{4, 5, 6}

In [13]:
# 합집합 구하기
# '|'을 사용하면 합집합을 구할 수 있다.
# 4, 5, 6처럼 중복해서 포함된 값은 1개씩만 표현된다.

s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
# union 함수를 사용해도 된다.

s1.union(s2)

# s2.union(s1)을 사용해도 결과는 동일하다.

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
# 차집합 구하기
# -(빼기)를 사용하면 차집합을 구할 수 있다.

s1 - s2

{1, 2, 3}

In [16]:
s2 - s1

{7, 8, 9}

In [17]:
# difference 함수를 사용해도 차집합을 구할 수 있다.

s1.difference(s2)

{1, 2, 3}

In [18]:
s2.difference(s1)

{7, 8, 9}

In [19]:
# 집합 자료형 관련 함수
# 갑 1개 추가하기 - add
# 이미 만들어진 set 자료형에 값을 추가할 수 있다.
# 1개의 값만 추가 add할 때

s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [20]:
# 값 여러 개 추가하기 - update
# 여러 개의 값을 한꺼번에 추가(update)할 때

s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

In [21]:
# 특정 값 제거하기 - remove

s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}