<a href="https://colab.research.google.com/github/chae-eun-22/pythonStudy25/blob/master/BaseDictionaryType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 딕셔너리란?
# '사전'
# Key와 Value를 한 쌍으로 가지는 자료형
# 딕셔너리는 리스트나 튜플처럼 순차적으로(sequential) 해당 요솟값을 구하지 않고 Key를 통해 Value를 얻는 딕셔너리의 가장 큰 특징
# baseball이라는 단어의 뜻을 찾기 위해 사전의 내용을 순차적으로 모두 검색하는 것이 아니라 baseball이라는 단어가 있는 곳만 펼쳐 보는 것

In [3]:
# 딕셔너리의 기본 모습

{Key1: Value1, Key2: Value2, Key3: Value3, ...}

# Key와 Value의 쌍 여러 개가 {}로 둘러싸여 있다.
# 각각의 요소는 Key:Value 형태로 이루어져 있고 쉼표(,)로 구분

SyntaxError: ':' expected after dictionary key (<ipython-input-3-4ae7c250cd2a>, line 3)

In [5]:
dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

# Key는 각각 'name', 'phone', 'birth', 각각의 Key에 해당하는 Value는 'pey', '010-9999-1234', '1118'이 된다.

In [10]:
# 딕셔너리 쌍 추가하기

a = {1: 'a'}
a[2] = 'b'
a

# {1: 'a'} 딕셔너리에 a[2] = 'b'와 같이 입력하면 딕셔너리 a에 Key와 Value가 각각 2와 'b'인 {2: 'b'} 딕셔너리 쌍이 추가된다.

{1: 'a', 2: 'b'}

In [11]:
a['name'] = 'pey'
a

# 딕셔너리 a에 {'name': 'pey'} 쌍이 추가되었다.

{1: 'a', 2: 'b', 'name': 'pey'}

In [12]:
a[3] = [1, 2, 3]
a

# Key는 3, Value는 [1, 2, 3]을 가지는 한 쌍이 또 추가되었다.

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [13]:
# 딕셔너리 요소 삭제하기

del a[1]
a

# 딕셔너리 요소를 지우는 방법
# del 함수를 사용해서 del a[key]를 입력하면 지정한 Key에 해당하는 {Key:Value} 쌍이 삭제

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [14]:
# 딕셔너리 사용하는 방법

{"김연아": "피겨스케이팅", "류현진": "야구", "손흥민": "축구", "귀도": "파이썬"}

{'김연아': '피겨스케이팅', '류현진': '야구', '손흥민': '축구', '귀도': '파이썬'}

In [15]:
# 딕셔너리에서 Key를 사용해 Value 얻기

grade = {'pey': 10, 'julliet': 99}
grade['pey']

10

In [17]:
grade['julliet']

# 'pey'라는 Key를 Value를 얻기 위해 grade['pey']를 사용한 것
# 어떤 Key의 Value를 얻기 위해서는 '딕셔너리_변수_이름[Key]'를 사용해야 한다.

99

In [18]:
a = {1:'a', 2:'b'}
a[1]

# a[1]은 'a' 값을 리턴한다.
# 딕셔너리 변수에서 [] 안의 숫자 1은 두 번째 요소를 나타내는 것이 아니라 Key에 해당하는 1을 나타낸다.
# 딕셔너리는 리스트나 튜플에 있는 인덱싱 방법을 적용할 수 없다.
# a[1]은 딕셔너리 {1:'a', 2:'b'}에서 Key가 1인 것의 Value인 'a'를 리턴한다.

'a'

In [19]:
a[2]

'b'

In [20]:
a = {'a': 1, 'b': 2}
a['a']

1

In [21]:
a['b']

# a['a'], a['b']처럼 Key를 사용해서 Value를 얻을 수 있다.
# 딕셔너리 a는 a[Key]로 Key에 해당하는 Value를 얻는다.

2

In [22]:
dic = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
dic['name']

'pey'

In [23]:
dic['phone']

'010-9999-1234'

In [24]:
dic['birth']

'1118'

In [25]:
# 딕셔너리 만들 때 주의 사항

# 동일한 Key가 2개 존재할 경우, 1:'a'쌍이 무시돤다.

a = {1:'a', 1:'b'}
a

# Key가 중복되었을 때 1개를 제외한 나머지 Key:Value 값이 모두 무시되는 이유는 Key를 통해서 Value를 얻는 딕셔너리의 특징 때문
# 딕셔너리에는 동일한 Key가 중복으로 존재할 수 없다.

{1: 'b'}

In [27]:
# Key 리스트 만들기 - keys

a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.keys()

# a.keys()는 딕셔너리 a의 Key만을 모아 dict_keys 객체를 리턴한다.

dict_keys(['name', 'phone', 'birth'])

In [39]:
for k in a.keys():
  print(k)

# print(k)를 입력할 때 들여쓰기를 하지 않으면 오류가 발생하므로 주의

name
phone
birth

In [29]:
list(a.keys())

['name', 'phone', 'birth']

In [30]:
# Value 리스트 만들기 - values

a.values()

# Key를 얻는 것과 마찬가지 방법으로 Value만 얻고 싶다면 values 함수를 사용하면 된다.
# values 함수를 호출하면 dict_values 객체를 리턴한다.

dict_values(['pey', '010-9999-1234', '1118'])

In [31]:
# Key, Value 쌍 얻기 - items

a.items()

# items 함수는 Key와 Value의 쌍을 튜플로 묶은 값을 dict_items 객체로 리턴한다.

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [32]:
# Key:Value 쌍 모두 지우기 - clear

a.clear()
a

# clear 함수는 딕셔너리 안의 모든 요소를 삭제한다.
# 빈 리스트를 [], 빈 튜플을 ()로 표현하는 것과 마찬가지로 빈 딕셔너리도 {}로 표현한다.

{}

In [33]:
# Key로 Value 얻기 - get

a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.get('name')

'pey'

In [34]:
a.get('phone')

# get(x) 함수는 x라는 Key에 대응되는 Value를 리턴한다.
# a.get('name')은 a['name']을 사용했을 때와 동일한 결괏값을 리턴한다.

'010-9999-1234'

In [35]:
a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
print(a.get('nokey'))

# 딕셔너리 안에 찾으려는 Key가 없을 경우
# 미리 정해 둔 디폴트 값을 대신 가져오게 하고 싶을 때는 get(x,'디폴트 값')을 사용하면 편리하다.

None

In [36]:
a.get('nokey', 'foo')

# 딕셔너리 a에는 'nokey'에 해당하는 Key가 없다.
# 디폴트 값인 'foo'를 리턴한다.

'foo'

In [37]:
# 해당 Key가 딕셔너리 안에 있는지 조사하기 - in

a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
'name' in a

# 'name'의 문자열은 a 딕셔너리의 Key 중 하나이다.
# 'name' in a를 호출하면 참(True)을 리턴한다.

True

In [38]:
'email' in a

# 'email'은 a 딕셔너리 안에 존재하지 않는 Key이므로 거짓(False)을 리턴한다.

False