<a href="https://colab.research.google.com/github/chae-eun-22/pythonStudy25/blob/master/BaseListType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# 리스트 자료형
# 리스트 만들고 사용하는 법

odd = [1, 3, 5, 7, 9]

print(odd)

[1, 3, 5, 7, 9]

In [11]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

# 비어 있는 리스트는 a = list()로 생성할 수 있다.

In [12]:
# 리스트의 인덱싱과 슬라이싱
# 리스트의 인덱싱

a = [1, 2, 3]
a

[1, 2, 3]

In [13]:
a[0]

# a[0]은 리스트 a의 첫 번째 요소값

1

In [14]:
a[0] + a[2]

# 1+ 3으로 해석되어 값 4를 출력

4

In [17]:
a[-1]

# a[-1]은 문자열에서와 마찬가지로 리스트 a의 마지막 요소값

3

In [19]:
a = [1, 2, 3, ['a', 'b', 'c']]

a[0]

1

In [20]:
a[-1]

['a', 'b', 'c']

In [21]:
a[3]

['a', 'b', 'c']

In [22]:
a[-1][0]

# a[-1]이 ['a', 'b', 'c'] 리스트이고, 첫 번째 요소를 불러오기 위해 [0]

'a'

In [23]:
a[-1][1]

# a[-1]이 ['a', 'b', 'c'] 리스트이고, 두 번째 요소를 불러오기 위해 [1]

'b'

In [24]:
a[-1][2]

# a[-1]이 ['a', 'b', 'c'] 리스트이고, 세 번째 요소를 불러오기 위해 [2]

'c'

In [27]:
# 삼중 리스트에서 인덱싱하기

a = [1, 2, ['a', 'b', ['Life', 'is']]]

# 'Life' 문자열만 끄집어 내기

a[2][2][0]

# a의 세 번째 요소인 리스트 ['a', 'b', ['Life', 'is']]에서 세 번째 요소인 리스트 ['Life', 'is']의 첫 번째 요소

'Life'

In [28]:
# 리스트의 슬라이싱
# 슬라이싱은 '잘라 낸다'라는 뜻

a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [29]:
a = "12345"
a[0:2]

'12'

In [31]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]

b

# b 변수는 리스트 a의 첫 번째 요소부터 두 번쨰 요소인 a[1]까지 나타내는 리스트
# a[2] 값인 3은 포함되지 않는다.

[1, 2]

In [32]:
c

# c라는 변수는 리스트 a의 세 번째 요소부터 끝까지 나타내는 리스트

[3, 4, 5]

In [36]:
# 중첩된 리스트에스 슬라이싱

a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

# a[2:5]는 a의 세 번째 요소부터 여섯 번째 요소 직전 까지의 값, 즉 [3, ['a', 'b', 'c'], 4]

[3, ['a', 'b', 'c'], 4]

In [34]:
a[3][:2]

# a[3]은 ['a', 'b', 'c']이고, a[3][:2]는 ['a', 'b', 'c']의 첫 번째 요소부터 세 번째 요소 직전까지의 값, 즉 ['a', 'b']

['a', 'b']

In [38]:
# 리스트 연산하기
# 리스트 역시 +를사용해서 더할 수 있고 *를 사용해서 반복할 수 있다.

# 리스트 더하기(+)

a = [1, 2, 3]
b = [4, 5, 6]
a + b

# 리스트 사이에서 +는 2개의 리스트를 합치는 기능
# 문자열에서 "abc" + "def" = "abcdef"가 되는 것과 같은 이치

[1, 2, 3, 4, 5, 6]

In [39]:
# 리스트 반복하기(*)

a = [1, 2, 3]
a * 3

# [1,2,3] 리스트가 세 번 반복되어 새로운 리스트를 만들어 낸다.
# 문자열에서 "abc" * c = "abcabcabc"가 되는 것과 같은 이치

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [40]:
# 리스트 길이 구하기

a = [1, 2, 3]
len(a)

# len은 문자열, 리스트 외에 튜플과 딕셔너리에도 사용할 수 있는 함수

3

In [44]:
# 초보자가 범하기 쉬운 연산 오류

a = [1, 2, 3]
str(a[2]) + "hi"

# a[2]에 저장된 값은 3이라는 정수인데 "hi"는 문자열이다.
# 정수와 문자열은 당연히 서로 더할 수 없기 때문에 오류가 발생
# str은 정수나 실수를 문자열로 바꾸어 주는 파이썬의 내장 함수

'3hi'

In [45]:
# 리스트는 값을 수정하거나 삭제할 수 있다.

#리스트의 값 수정하기

a = [1, 2, 3]
a[2] = 4
a

# a[2]의 요솟값 3이 4로 바뀌었다.

[1, 2, 4]

In [46]:
# del 함수를 사용해 리스트 요소 삭제하기

a = [1, 2, 3]
del a[1]
a

# del a[x]는 x번째 요솟값을 삭제한다.
# a 리스트에서 a[1]을 삭제했다.
# del 함수는 파이썬이 자체적으로 가지고 있는 삭제 함수

[1, 3]

In [49]:
# del 객체
# 객체란 파이썬에서 사용되는 모든 자료형
# 슬라이싱 기법을 사용하여 리스트의 요소 여러 개를 한꺼번에 삭제할 수 있다.

a = [1, 2, 3, 4, 5]
del a[2:]
a

# a[2:]에 해당하는 리스트의 요소들이 삭제되었다.

[1, 2]

In [50]:
# 리스트 관련 함수
# 리스트에 요소 추가하기 - append
# append의 사전적 의미는 '덧붙이다, 첨부하다'
# append(x)는 리스트의 맨 마지막에 x를 추가하는 함수

a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [51]:
a.append([5, 6])
a

# 리스트에 다시 리스트를 추가한 결과

[1, 2, 3, 4, [5, 6]]

In [52]:
# 리스트 정렬 - sort
# sort 함수는 리스트의 요소를 순서대로 정렬

a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [53]:
# 문자 역시 알파벳 순서로 정렬

a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [54]:
# 리스트 뒤집기 - reverse
# reverse 함수는 리스트를 역순으로 뒤집어 준다.
# 리스트 요소들을 순서대로 정렬한 다음 다시 역순으로 정렬하는 것이 아니라 현재의 리스트를 그대로 거꾸로 뒤집는다.

a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [55]:
# 인덱스 반환 - index
# index(x) 함수는 리스트에 x 값이 있으면 x의 인덱스 값(위칫값)을 리턴

a = [1, 2, 3]
a.index(3)

# 리스트 a에 있는 숫자 3의 위치는 a[2]이므로 2

2

In [56]:
a.index(1)

# 숫자 1의 위치는 a[0]이므로 0을 리턴

0

In [57]:
# 리스트에 요소 삽입 - insert
# insert(a, b)는 리스트의 a번째 위치에 b를 삽입하는 함수
# 파이썬은 숫자를 0부터 센다

a = [1, 2, 3]
a.insert(0, 4)
a

# 0번째 자리, 즉 첫 번째 요소인 a[0] 위치에 값 4를 삽입하라는 뜻

[4, 1, 2, 3]

In [58]:
a.insert(3, 5)
a

# 리스트 a의 a[3], 즉 네 번째 요소 위치에 값 5를 삽입하라는 뜻

[4, 1, 2, 5, 3]

In [59]:
# 리스트 요소 제거 - remove
# remove(x)는 리스트에서 첫 번째로 나오는 x를 삭제하는 함수

a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

# a가 3이라는 값을 2개 가지고 있을 경우, 첫 번째 3만 제거되는 것

[1, 2, 1, 2, 3]

In [60]:
a.remove(3)
a

# remove(3)을 한 번 더 실행하면 다시 3이 삭제된다.

[1, 2, 1, 2]

In [61]:
# 리스트 요소 끄집어 내기 - pop
# pop()은 리스트의 맨 마지막 요소를 리턴하고 그 요소는 삭제

a = [1, 2, 3]
a.pop()

# a 리스트 [1, 2, 3]에서 3을 끄집어 내고,

3

In [62]:
a

# 최종적으로 [1, 2]만 남는 것

[1, 2]

In [63]:
# pop(x)는 리스트의 x번째 요소를 리턴하고 그 요소는 삭제

a = [1, 2, 3]
a.pop(1)

# a.pop(1)은 a[1]의 값을 끄집어 내어 리턴

2

In [64]:
a

# 다시 a를 출력해 보면 끄집어 낸 값이 삭제된 것을 확인할 수 있다.

[1, 3]

In [66]:
# 리스트에 포함된 요소 x의 개수 세기 - count
# count(x)는 리스트 안에 x가 몇 개 있는지 조사하여 그 개수를 리턴하는 함수

a = [1, 2, 3, 1]
a.count(1)

# 1이라는 값이 리스트 a에 2개 들어 있으므로 2를 리턴한다.

2

In [67]:
# 리스트 확장 - extend
# extend(x)에서 x에는 리스트만 올 수 있으며 원래의 a 리스트에 x 리스트를 더하게 된다.

a = [1, 2, 3]
a.extend([4, 5])
a

# a.extend([4, 5])는 a += [4, 5]와 동일
# a += [4, 5]는 a = a + [4, 5]와 동일한 표현식

[1, 2, 3, 4, 5]

In [68]:
b = [6, 7]
a.extend(b)
a

# a.extend[6, 7]은 a += [6, 7]와 동일
# a += [6, 7]은 a = a + [6, 7]과 동일한 표현식

[1, 2, 3, 4, 5, 6, 7]