<a href="https://colab.research.google.com/github/chae-eun-22/pythonStudy25/blob/master/BaseTupleType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 튜플 자료형
# 튜플(tuple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷하다

# 리스트와 다른 점
# 리스트는 [], 튜플은 ()으로 둘러싼다.
# 리스트는 요솟값의 생성, 삭제, 수정이 가능하지만, 튜플은 요솟값을 바꿀 수 없다.

In [ ]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

# 튜플에서는 리스트와 다른 2가지 차이점
# t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에 쉼표(,)를 반드시 붙여야 한다
# t4 = 1, 2, 3처럼 소괄호 (())를 생략해도 된다

# 리스트의 요솟값은 변화가 가능하고 튜플의 요솟값은 변화가 불가능
# 값이 변경되는 형태의 변수가 훨씬 많기 때문에 평균적으로 튜플보다 리스트를 더 많이 사용

In [ ]:
# 튜플의 요솟값을 지우거나 변경할 수 있을까?
# 튜플의 요솟값은 한 번 정하면 지우거나 변경할 수 없다.
# 튜플의 요소를 리스트처럼 del 함수로 지우려고 하면 튜플은 요솟값을 지울 수 없다는 오류 메시지를 확인할 수 있다.
# 튜플의 요솟값을 변경하려고 해도 오류가 발생하는 것을 확인할 수 있다.

In [2]:
# 튜플 다루기
# 튜플은 요솟값을 변화시킬 수 없다는 점만 제외하면 리스트와 완전히 동일하다

# 인덱싱하기

t1 = (1, 2, 'a', 'b')
t1[0]

1

In [3]:
t1[3]

# 문자여르 리스트와 마찬가지로 t1[0], t1[3]처럼 인덱싱이 가능

'b'

In [4]:
# 슬라이싱하기

t1 = (1, 2, 'a', 'b')
t1[1:]

# t1[1]부터 튜플의 마지막 요소까지 슬라이싱

(2, 'a', 'b')

In [5]:
# 튜플 더하기

t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2
t3

# t1, t2 튜플의 요솟값이 바뀌는 것은 아니다.
# 다만, t1, t2 튜플을 더하여 새로운 튜플 t3을 생성한 것

(1, 2, 'a', 'b', 3, 4)

In [6]:
# 튜플 곱하기

t2 = (3, 4)
t3 = t2 * 3
t3

# 튜플의 곱하기(반복)

(3, 4, 3, 4, 3, 4)

In [7]:
# 튜플 길이 구하기

t1 = (1, 2, 'a', 'b')
len(t1)

# 튜플은 요솟값을 변경할 수 없기 때문에 sort, insert, remove, pop과 같은 내장 함수가 없다.

4

In [13]:
# 응용하기

t1 = (3, 5)
t2 = (4, 7)
t3 = (1, 2)
t4 = (6,)
t5 = t1 + t2 + t3 + t4
t5

(3, 5, 4, 7, 1, 2, 6)